/* ligne séparatice d'éléments color : #3C454F */

.main {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: #151D26;
    display: flex;
    flex-direction: row;
  }

.left{
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #3C454F;
}

.center{
    min-width: 45%;
    border: 2px solid #3C454F;
}

.message{
    min-width: 90%;
    border: 2px solid #3C454F;
}

.right {
    
    width: 100px;
    border: 2px solid #3C454F;

    background-color: red;
}